[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codespell = "*"
flake8 = "*"
isort = "*"
pycodestyle = "*"
pylint = "*"

[packages]
pytest = "*"

[requires]
python_version = "3.8"
